/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
img {
    display: block;
    max-width: 400px;
    margin: 25px auto;
}
.input {
    text-align: center;
}
.input > input, .input > button {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 30px;
}
.elenco {
    background-color: #F5F8F8;
    margin: 40px auto;
    /* debug */
    width: 1200px;
    min-height: 108px;
    padding: 30px;
    line-height: 40px;
}
.elenco > li {
    list-style: none;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
i {
    font-size: 20px;
}