<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>Todoolean</title>
</head>
<body>
    <header>
        <!-- immagine logo -->
        <img src="img/logo.png" alt="">
    </header>
    <main>
        <div id="root">
            <div class='input'>
                <!-- tramite v-model gestisco il contenuto di value del tag input su data dello script -->
                <input v-model='sourceInput' placeholder="Nuovo Todo" @keyup.enter="addElement">
                <!-- bottone che richiama la funzione addElement() tra parentesi i soliti argomenti della funzione che dipendono dalla posizione, prima l'elemento e poi indice e poi array intera -->
                <button @click='addElement()'>Aggiungi</button>
                <button @click='eliminaTutto'>Elimina</button>
            </div>
            <ul class="elenco">
                <!-- ciclo for per stampare i suoi argomenti lista e indice dell'arrayAdd -->
                <li v-for='(lista, indice) in arrayAdd'>
                    {{indice + 1}} {{'-'}} {{lista}}
                    <!-- bottone che richiama la funzione deleteElement(indice) tra parentesi argomento della funzione ovvero l'indice -->
                    <a href="#" @click='deleteElement(indice)'><i class="far fa-trash-alt"></i></a>
                </li>
            </ul>
        </div>
    </main>
    <!-- script -->
    <script src="js/script.js"></script>
</body>
</html>